body {
    margin: 10px auto;
    width: 95%; 
    background-color: #E5E5F7;
    opacity: 1;

    background-size: 20px 100%; 
}

h1 {
    font: size 10em;
    color: black;
    background-color: grey;
    padding: 10px;
    margin-left: 0%;
    width: 300px;
    border-radius: 15px;
    text-shadow: 2px ;
    box-shadow: 2px 2px 1px black;
      }

img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

div.calendar {
  background-image: url("christmas.jpg");
  background-position: 0px -200px;
  height: 1080px;
  width: 100%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  /* grid-template-rows: repeat(5, 5vw); */
  row-gap: 20px;
  column-gap: 20px;
}

.item {
  width: 106px;
  height: 106px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  opacity: .3;
}

.item:hover {
  opacity: .4;
}


.item_clicked {
  width: 106px;
  height: 106px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  
  box-shadow: 2px 2px 2px black;
  opacity: 1;
}

.center_text {
  top: 50%;
  left: 50%;
}


h3 {
  font: size 8em;
  border-radius: 15px;
  text-shadow: 2px 2px violet;
    }

.button {
  background-color: #959595dc;
  color:black;
  border-color: black;
  border-width: 4px;
  border-radius: 10px;
  font-size: 3em;
  border-top-color: black;
}
.button:hover {
  background-color: #711c91;
  color: #0abdc6;
}

.hidden {
  display: none;
}
